header{
    margin-left: 30px;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

#banner{
    width: 100%;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#mision{
    font-size: 20px;
}

em strong{
    color: red;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}


ul{
    display: inline-block; /* Que ocupe solo el espacio de su contenido y que los espaciamientos, tanto de la parte de arriba, inferiores, superiores, inferiores, derechos, izquierdos, se puedan ajustar, puedan ser ajustables.*/
    vertical-align: top;
    margin-right: 15%;
    width: 20%;
}

.items{
    font-style: italic;
}

.imagenDiferenciales{
    width: 50%;
}
